.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.add-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

h2 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: goldenrod;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: goldenrod;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.filter-btn:hover,
.filter-btn.active {
  background: goldenrod;
  color: white;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted gray;
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: goldenrod;
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.plusminusform-container {
  margin-top: 2rem;
}